@model IEnumerable<WALLY_PROJECT.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_TXT_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_FEC_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_APE_PATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_APE_MATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_EMAIL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_TXT_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_FEC_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_APE_PATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_APE_MATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_ESTADO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
